# Electron 二进制下载镜像（主进程/渲染进程打包时的 electron 本身）
electron_mirror=https://npmmirror.com/mirrors/electron/

# electron-builder 依赖的二进制（winCodeSign / app-builder-bin / rcedit 等）
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
